<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /busca-amazonia/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /busca-amazonia/index.html [L]
</IfModule>