.header {
  background-image: url('../../public/portada.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}

.header-content {
  z-index: 2;
  max-width: 800px;
  padding: 0 2rem;
  position: absolute;
  bottom: 5vh;
}

.header-title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  letter-spacing: 3px;
  background-color: rgba(23, 143, 83, 0.8); /* Verde semi-transparente */
  padding: 1rem 2rem;
  display: inline-block;
  font-weight: 800;
}

.header-subtitle {
  font-size: 2.5rem;
  margin: 0;
  font-weight: 300;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
  padding: 0.5rem 1.5rem;
  display: inline-block;
  border-radius: 6px;
  font-weight: 800;
}

.header-bajada {
  margin-top: 20px;
  text-shadow: 2.5px 2px 6px rgba(0, 0, 0, 0.95);
  font-size: 1.28rem; /* Tamaño de fuente más grande y especificado */
  color: rgb(255, 255, 255);
}

/* Responsive */
@media (max-width: 768px) {
  .header-title {
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding: 0.8rem 1.5rem;
  }
  
  .header-subtitle {
    font-size: 1.5rem;
    padding: 0.4rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.5rem;
    padding: 0.6rem 1.2rem;
  }
  
  .header-subtitle {
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
  }
  
  .header-content {
    padding: 0 1rem;
  }

  .header-bajada {
    font-size: 1.1rem; /* Tamaño de fuente ajustado para móviles */
  }
}